@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.rockButton,
.paperButton,
.scissorsButton {
    opacity: 0;
}

.animate-fade-in {
    animation: fadeIn 1s ease-in forwards;
}

.rockButton {
    animation-delay: .5s;
}

.paperButton {
    animation-delay: 1.5s;
}

.scissorsButton {
    animation-delay: 2.5s;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-of-rounds {
    font-size: 34px;
    padding-bottom: 10px;
}

.roundCount,
.playButton {
    font-size: 26px;
}

p {
    white-space: pre-line;
}

.icon {
    display: flex;
    height: 160px;
    width: 160px;
}