@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.game-board {
    background-color: mediumblue;
    padding: 20px;
}

.rockButton,
.paperButton,
.scissorsButton {
    opacity: 0;
}

.animate-fade-in {
    animation: fadeIn 1s ease-in forwards;
}

.rockButton {
    animation-delay: .5s;
}

.paperButton {
    animation-delay: 1.5s;
}

.scissorsButton {
    animation-delay: 2.5s;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-of-rounds-container {
    color: white;
    font-size: 34px;
    padding-bottom: 10px;
}

.number-of-rounds,
.playButton {
    font-size: 26px;
    justify-items: center;
}

.score-counts-wrapper {
    display: flex;
    justify-content: space-between;
}

.score-counts {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.player-title {
    font-size: 36px;
    color: white;
    padding: 20px;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    margin: 0;
    font-size: 45px;
    color: black;
    background-color: white;
    padding: 0 20px;

}

.results-container {
    color: black;
    font-size: 26px;
    background-color: white;
    margin: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 5px;
}

.round-count,
.round-result,
.game-over-results {
    text-align: center;
    white-space: pre-line;
}

.play-again-button-container {
    display: flex;
    justify-content: center;
}

.play-again-button {
    font-size: 24px;
}

p {
    white-space: pre-line;
}

.icon {
    display: flex;
    height: 160px;
    width: 160px;
}