.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-of-rounds {
    padding-bottom: 10px;
}

p {
    white-space: pre-line;
}

.icon {
    display: flex;
    height: 160px;
    width: 160px;
}